@model IEnumerable<Property_Rental_Management_Web_Site.Models.Apartments>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text text-center text-success mb-4">Appartments Menu</h1>
<p>
    <a class="btn btn-success mb-4" asp-action="Create">Create New</a>
</p>
<table class="table table-striped ">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building.BuildingId)
            </td>
            <td>

                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ApartmentNumber">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ApartmentNumber">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ApartmentNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
