@model IEnumerable<Apartments>


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text text-center text-success mb-4">List of Appartments</h1>

<p>
    <a class="btn btn-success mb-4" asp-action="Index" asp-controller="Messages">Check messages</a>
    <a class="btn btn-success mb-4" asp-action="Create" asp-controller="Appointments">Make an appointment</a>
</p>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApartmentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApartmentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Create" asp-controller="Messages">Send Message</a>
                </td>
            </tr>
        }
    </tbody>
</table>
